.header{
    background-color: #E0F2FF;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header h1{
    font-size: 60px;
    font-family: Montserrat;
    font-weight: 600;
    
}

